body{
    background-color: #EEEEEE;
   }
   hr{
    /* background-color: blue; */
    border-style: dotted none none none;
    border-width: 5px;
    height: 2px;
    /* width: 150px; */
   }
   h1{
    color: #00adb5;
   }
   h2{
    color: #222831;
   }
   h3{
    color: #00adb5;
   }
   h4{
    color: #00adb5;
   }